.footer{
  margin: 100px;
  display: flex;
  justify-content: space-evenly;
}

.footer__block__title{
  font-size: 30px;
  color: #4e2f86;
}

.footer__block__item{
  margin: 20px 0;
  font-size: 22px;
  color: #845ecc;
}