.film__details {
  margin: 150px 100px;
}

.film__inner {
  display: flex;
  flex-direction: row;
}

.film-img {
  width: 400px;
  box-shadow: 10px 10px 1px #66469d;
}

.film__description__block {
  margin-left: 40px;
  font-family: cursive;
}

.film__title{
  margin: 20px 0 15px 20px;
  font-size: 34px;
  font-weight: 700;
  font-family: cursive;
  color: #4b2986;
}

.film__description{
  font-size: 24px;
  padding: 20px;
  color: white;
  text-shadow: 4px 3px #4b2986;
  border: 3px dashed #fab2fd;
  background-color: #6740a4;
}

.film__description__admin{
  font-size: 24px;
  padding: 20px;
}

.film__price,
.film__start__date,
.film__end__date,
.film__tags{
  margin: 20px;
  font-size: 24px;
}

.date-button {
  /* Regular button styles */
  margin: 4px;
  padding: 8px;
  border: 1px solid #946ae7;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.date-button.selected {
  /* Selected button styles */
  background-color: #613d9f;
  color: #fff;
}

